.article {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    margin: 15% 40%;  
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    padding: 20px 0;
    opacity: 0.8;
}

label {
    font-size: larger;
}

.signtitle{
    text-align: center;
    font-size: 70px;
    color: white;
}